<div class="signin-container row">
  <div class="company-manager-details col-8">
    <div class="company-manager-details-heading">
      What you can do as a Company Manager
    </div>
    <div class="company-manager-details-content">
      <ul>
        <li>Create and Manage Job Openings</li>
        <li>Manage Candidates who apply for your job openings</li>
        <li>Manage Assessments that your job opening requires and track candidate's scores against your template</li>
        <li>Manage Recruitment drives for walk ins, all managed on one portal</li>
        <li>Manage Interviews and give updates to candidates over the portal</li>
      </ul>
    </div>
  </div>
  <div class="signin-form col-4">
    <app-signin-form [isCandidateLogin]=false></app-signin-form>
  </div>
</div>
