.signin-page-container {
  height: calc(100vh - 73px);
}

/* Candidate Details */

.candidate-details {
  border: 1px solid #212529;
  border-radius: 10px;
  background-color: white;
  height: 70vh;

  vertical-align: middle;
}

.candidate-details-heading {
  color: #79B953;
  font-size: 30px;
  text-align: center;
}

.candidate-details-details {
  color: #707070;
  font-size: 22px;
}

/* Candidate Details */

.signin-form {
  padding-right: 0;
}
