<div class="page-container">
  <div class="row pt-15 m-0">
    <div class="col-4">
      <div class="content-container col-12">
        <div class="content-header">
          <h2>Position Details</h2>
        </div>
        <div class="content-details">
          <div class="row">
            <!-- Position Details -->
            <div class="col-sm-12">
              <!-- Title -->
              <div class="form-group">
                <div class="display-field">
                  <label class="display-label">Title</label>
                  <div class="display-value">
                    {{ candidateDetails.Candidate.JobOpening.Title }}
                  </div>
                </div>
              </div>

              <!-- Description -->
              <div class="form-group">
                <div class="display-field">
                  <label class="display-label">Description</label>
                  <div class="display-value">
                    {{ candidateDetails.Candidate.JobOpening.Description }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-8 pl-0">
      <div class="content-container col-12">
        <div class="content-header">
          <h2>Candidate Details</h2>
        </div>
        <div class="content-details">
          <div class="row">
            <!-- Candidate Details -->
            <div class="col-sm-12">
              <!-- Name -->
              <div class="form-group">
                <div class="display-field">
                  <label class="display-label">Name</label>
                  <div class="display-value">
                    {{ candidateDetails.Candidate.User.FullName }}
                  </div>
                </div>
              </div>

              <!-- Description -->
              <div class="form-group">
                <div class="display-field">
                  <label class="display-label">Email</label>
                  <div class="display-value">
                    {{ candidateDetails.Candidate.User.Email }}
                  </div>
                </div>
              </div>
            </div>

            <!-- Assessment Scores -->
            <div class="col-sm-8 pt-2">
              <div class="assessment-scores-label-container">
                <h5 class="assessment-scores-label d-inline font-weight-bold">
                  Assessment Scores
                </h5>
                <div
                  class="d-inline pl-2 content-header-add-button"
                  title="Add New Assessment"
                >
                  <fa-icon
                    [icon]="addIcon"
                    (click)="openAddCandidateAssessmentModal(content)"
                  ></fa-icon>
                </div>
              </div>
              <div
                *ngFor="
                  let candidateTest of this.candidateDetails.CandidateTests
                "
              >
                <div class="candidate-assessment font-weight-bold">
                  {{ candidateTest.Title }}
                </div>
                <div
                  class="assessment-score row"
                  *ngFor="let testScore of candidateTest.CandidateTestScores"
                >
                  <div class="col-4">{{ testScore.Title }}</div>
                  <div class="col-4 text-right">
                    <div *ngIf="testScore.CutoffScore">
                      {{ testScore.CutoffScore }} to Qualify
                    </div>
                  </div>
                  <div class="col-3 text-right">
                    {{ testScore.Value }} /
                    {{ testScore.MaximumScore }}
                  </div>
                  <div class="col-1">
                    <div
                      class="d-inline pl-2 content-header-add-button"
                      title="Edit Position"
                    >
                      <fa-icon
                        [icon]="editIcon"
                        (click)="
                          openUpdateCandidateAssessmentScoreModal(
                            testScore.CandidateTestScoreId,
                            testScore.Title,
                            testScore.Value,
                            testScore.Comment,
                            scoreUpdateContent
                          )
                        "
                      ></fa-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Create new Candidate Assessment -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h6 class="modal-title" id="modal-basic-title">
      Create New Candidate Assessment
    </h6>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span> × </span>
    </button>
  </div>
  <form
    #addCandidateTestForm="ngForm"
    (ngSubmit)="addCandidateAssessment(addCandidateTestForm.value)"
    autocomplete="off"
  >
    <div class="modal-body">
      <input
        type="hidden"
        name="CandidateId"
        [(ngModel)]="addCandidateAssessmentFormObject.CandidateId"
        [value]="currentCandidateId"
      />
      <!-- Test -->
      <div class="form-group">
        <div class="input-field">
          <select
            matNativeControl
            #TestId="ngModel"
            [(ngModel)]="addCandidateAssessmentFormObject.TestId"
            id="TestId"
            name="TestId"
          >
            <option value="" selected></option>
            <option *ngFor="let test of companyTestsList" [value]="test.Id">
              {{ test.Name }}
            </option>
          </select>
        </div>
        <div class="validation-error mt-2">
          <div
            class="validation-error-text"
            *ngIf="TestId.invalid && TestId.touched"
          >
            This field is required.
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <div class="form-submit">
        <button
          class="btn btn-primary submit-button"
          type="submit"
          [disabled]="!addCandidateTestForm.form.valid"
        >
          Submit
        </button>
      </div>
    </div>
  </form>
</ng-template>

<!-- Update Candidate Assessment Score  -->
<ng-template #scoreUpdateContent let-modal>
  <div class="modal-header">
    <h6 class="modal-title" id="modal-basic-title">
      Update Candidate Assessment Score: {{updateCandidateAssessmentScoreFormObject.TestScoreTitle}}
    </h6>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span> × </span>
    </button>
  </div>
  <form
    #updateCandidateTestScoreForm="ngForm"
    (ngSubmit)="
      updateCandidateAssessmentScore(updateCandidateTestScoreForm.value)
    "
    autocomplete="off"
  >
    <div class="modal-body">
      <input
        type="hidden"
        name="CandidateTestScoreId"
        [(ngModel)]="
          updateCandidateAssessmentScoreFormObject.CandidateTestScoreId
        "
      />

      <div class="form-group">
        <div class="input-field">
          <input
            id="Value"
            class="form-control"
            placeholder="Value"
            type="number"
            name="Value"
            #Value="ngModel"
            [(ngModel)]="updateCandidateAssessmentScoreFormObject.Value"
          />
        </div>
        <div class="validation-error mt-2">
          <div
            class="validation-error-text"
            *ngIf="Value.invalid && Value.touched"
          >
            This field is required.
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="input-field">
          <input
            id="Comment"
            class="form-control"
            placeholder="Comment"
            type="text"
            name="Comment"
            #Comment="ngModel"
            [(ngModel)]="updateCandidateAssessmentScoreFormObject.Comment"
          />
        </div>
        <div class="validation-error mt-2">
          <div
            class="validation-error-text"
            *ngIf="Comment.invalid && Comment.touched"
          >
            This field is required.
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <div class="form-submit">
        <button
          class="btn btn-primary submit-button"
          type="submit"
          [disabled]="!updateCandidateTestScoreForm.form.valid"
        >
          Submit
        </button>
      </div>
    </div>
  </form>
</ng-template>
