<div class="page-container">
  <div class="row pt-15 m-0">
    <div class="col-12">
      <div class="company-assessments-container content-container col-12">
        <div class="content-header">
          <h2 class="d-inline">Assessments</h2>
          <div class="d-inline pl-2 content-header-add-button" title="Add New Position">
            <fa-icon class="d-inline-flex" [icon]="addIcon" (click)="openAddAssessmentModal(content)"></fa-icon>
          </div>
        </div>

        <!-- Assessments Index -->
        <div class="content-details">
          <table class="table table-hover table-sm">
            <thead>
              <tr class="row">
                <th class="col-3">Title</th>
                <th class="col-7">Description</th>
                <th class="col-2">Takers</th>
              </tr>
            </thead>
            <tbody>
              <tr class="row table-element" *ngFor="let assessment of this.assessments">
                <td class="col-3" ><a [routerLink]="['/companyManager-assessments-assessment', assessment.Id]">{{assessment.Title}}</a></td>
                <td class="col-7">{{assessment.Description}}</td>
                <td class="col-2">{{assessment.TakersCount}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h6 class="modal-title" id="modal-basic-title">Create New Assessment</h6>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span> × </span>
    </button>
  </div>
  <form
      #addTestForm="ngForm"
      (ngSubmit)="addAssessment(addTestForm.value)"
      autocomplete="off"
    >
    <div class="modal-body">
      <!-- Title -->
      <div class="form-group">
        <div class="input-field">
          <input
            id="Title"
            class="form-control"
            placeholder="Title"
            type="text"
            name="Title"
            #Title="ngModel"
            [(ngModel)]="addAssessmentForm.Title"
          />
        </div>
        <div class="validation-error mt-2">
          <div
            class="validation-error-text"
            *ngIf="Title.invalid && Title.touched"
          >
            This field is required.
          </div>
        </div>
      </div>

      <!-- Description -->
      <div class="form-group">
        <div class="input-field">
          <input
            id="Description"
            class="form-control"
            placeholder="Description"
            type="text"
            name="Description"
            #Description="ngModel"
            [(ngModel)]="addAssessmentForm.Description"
          />
        </div>
        <div class="validation-error mt-2">
          <div
            class="validation-error-text"
            *ngIf="Description.invalid && Description.touched"
          >
            This field is required.
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <div class="form-submit">
        <button
          class="btn btn-primary submit-button"
          type="submit"
          [disabled]="!addTestForm.form.valid"
        >
          Submit
        </button>
      </div>
    </div>
  </form>
</ng-template>
