<div class="page-container">
  <div class="row pt-15 m-0">
    <div class="col-8">
      <div class="company-details-container content-container col-12">
        <div class="content-header">
          <h2>Company Details</h2>
        </div>
        <div class="content-details">
          <div class="row">
            <!-- Company Details Form -->
            <div class="col-md-6 col-sm-12">
              <form
                #companyEditForm="ngForm"
                (ngSubmit)="editCompany(companyEditForm.value)"
                autocomplete="off"
              >
                <input
                  type="hidden"
                  name="Id"
                  [(ngModel)]="companyDetails.Id"
                />
                <div class="form-group">
                  <div class="input-field">
                    <input
                      name="Name"
                      #Name="ngModel"
                      class="form-control"
                      placeholder="Name"
                      [(ngModel)]="companyDetails.Name"
                      required
                    />
                  </div>
                  <div class="validation-error mt-2">
                    <div
                      class="validation-error-text"
                      *ngIf="Name.invalid && Name.touched"
                    >
                      This field is required.
                    </div>
                  </div>
                </div>

                <div class="form-submit">
                  <button
                    class="btn btn-primary submit-button"
                    color="primary"
                    type="submit"
                    [disabled]="!companyEditForm.form.valid"
                  >
                    Save
                  </button>
                </div>
              </form>
            </div>

            <!-- Company Management Details -->
            <div class="col-md-6 col-sm-12">
              <div class="company-management-heading pb-2">
                <h5 class="d-inline">Company Management</h5>
                <div class="d-inline pl-2 company-manager-add" title="Invite New Manager">
                  <fa-icon [icon]="addIcon" (click)="openAddManagerModal(content)"></fa-icon>
                </div>
              </div>
              <table class="table table-sm managers-list">
                <tr >
                  <th class="col-6 border-top-0">Name</th>
                  <th class="col-2 border-top-0">Role</th>
                  <th class="col-4 border-top-0">Actions</th>
                </tr>
                <tr
                  class="manager"
                  *ngFor="let manager of this.companyManagers.CompanyManagers"
                >
                  <td
                    class="company-manager-name col-6"
                    *ngIf="manager.HasAcceptedInvite"
                  >
                    {{ manager.User.FullName }}
                  </td>
                  <td
                    class="company-manager-name col-8"
                    *ngIf="!manager.HasAcceptedInvite"
                  >
                    <div class="d-inline">{{ manager.InviteeEmail }}</div>
                    <div class="d-inline pl-1 company-manager-invite" title="Invited Manager">
                      <fa-icon [icon]="envelopeIcon"></fa-icon>
                    </div>
                  </td>

                  <td class="company-manager-adminStatus col-2">
                    <div class="text-center" *ngIf="manager.IsAdmin" title="Admin Manager">
                      <fa-icon [icon]="adminIcon"></fa-icon>
                    </div>
                    <div class="text-center" *ngIf="!manager.IsAdmin" title="Regular Manager">
                      <fa-icon [icon]="userIcon"></fa-icon>
                    </div>
                  </td>

                  <td class="company-manager-actions col-4">
                    <div
                      class="text-center company-manager-action"
                      *ngIf="manager.InviteeEmail != currentUserEmail"
                      (click)="removeManager(manager)"
                      title="Delete Manager"
                    >
                      <fa-icon [icon]="deleteIcon"></fa-icon>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-4 pl-0">
      <div class="company-misc-container content-container col-12">
        <div class="content-header">
          <h2>Analytics</h2>
        </div>
        <div class="content-details">
          <div class="">Charts coming soon!</div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h6 class="modal-title" id="modal-basic-title">Invite Company Manager</h6>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span> × </span>
    </button>
  </div>
  <form
      #addCompanyManagerForm="ngForm"
      (ngSubmit)="addManager(addCompanyManagerForm.value)"
      autocomplete="off"
    >
    <div class="modal-body">
      <input
        type="hidden"
        name="CompanyId"
        [(ngModel)]="addManagerForm.CompanyId"
      />
      <div class="form-group">
        <div class="input-field">
          <input
            id="Email"
            class="form-control"
            placeholder="Email"
            type="email"
            name="Email"
            #Email="ngModel"
            [(ngModel)]="addManagerForm.Email"
          />
        </div>
        <div class="validation-error mt-2">
          <div
            class="validation-error-text"
            *ngIf="Email.invalid && Email.touched"
          >
            This field is required.
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="">
          <input
            id="IsInviteForAdmin"
            class=""
            type="checkbox"
            name="IsInviteForAdmin"
            #IsInviteForAdmin="ngModel"
            [(ngModel)]="addManagerForm.IsInviteForAdmin"
          /> Grant Admin Access
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="form-submit">
        <button
          class="btn btn-primary submit-button"
          type="submit"
          [disabled]="!addCompanyManagerForm.form.valid"
        >
          Submit
        </button>
      </div>
    </div>
  </form>
</ng-template>
