<table class="table table-sm candidate-list">
  <tr class="row">
    <th class="col-2 border-top-0">Name</th>
    <th class="col-2 border-top-0">Applied Date</th>
    <th *ngFor="let score of this.testScores" class="col border-top-0">
      {{ score.Title }}
    </th>
    <th class="col-1 border-top-0">Average</th>
    <th class="col-1 border-top-0">Variation</th>
  </tr>

  <tr class="manager row" *ngFor="let candidateTest of this.candidateList">
    <td class="candidate-name col-2">
      {{ candidateTest.Candidate.User.FullName }}
    </td>

    <td class="candidate-applied-date col-2">
      {{ candidateTest.Candidate.CreatedDetails.CreatedOn }}
    </td>

    <td *ngFor="let score of candidateTest.CandidateTestScores" class="candidate-test-score col">
      {{ score.Value }}
    </td>

    <td class="candidate-name col-2">
      {{ candidateTest.TotalScore }}
    </td>

    <td class="candidate-name col-2">
      {{ candidateTest.Percentile }}
    </td>
  </tr>
</table>
